<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anno.groupchat">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name="com.anno.groupchat.Utils.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.anno.groupchat.Activites.MainActivity">

        </activity>
        <activity

            android:name="com.anno.groupchat.Activites.Splash"
            android:theme="@style/AppBaseThemeDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.anno.groupchat.Activites.Phone.RequestCode"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="com.anno.groupchat.Activites.Phone.VerifyCode"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="com.anno.groupchat.Activites.Phone.AccountVerified"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anno.groupchat.Activites.UserManagement.CreateProfile"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name="com.anno.groupchat.Activites.UserManagement.ListOfUsers" />
        <activity
            android:name="com.anno.groupchat.Activites.SingleChatScreen"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.anno.groupchat.Activites.GroupManagement.CreateGroup" />
        <activity
            android:name="com.anno.groupchat.Activites.GroupManagement.GroupInfo"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name="com.anno.groupchat.Activites.UserManagement.AddUsersToGroup" />
        <activity
            android:name="com.anno.groupchat.Activites.ViewPictures"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.anno.groupchat.Activites.UserManagement.EditProfile"
            android:windowSoftInputMode="adjustNothing" />

        <service android:name="com.anno.groupchat.Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:name="com.anno.groupchat.provider.GenericFileProvider"
            android:authorities="com.anno.groupchat.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5349923547931941~1242986914" />
    </application>

</manifest>